* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #9fb0fd
}

body {
    background-color: black;
}

.container {
    margin: 0 20px;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

h3 {
    margin-bottom: 5px;
}

main {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

input {
    display: block;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #9fb0fd;
    background-color: #002fff33;
    color: #9fb0fd;
}

input:not(:last-child) {
    margin-bottom: 10px;
}

input:focus {
    background-color: #002fff33;
    box-shadow: 3px 3px 6px 1px;
}

.btn:active {
    transform: scale(0.99);
}

.btn {
    background: none;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: #fff;
}

.add {
    outline: 1px solid green;
    margin-bottom: 10px;
    background-color: #00800033;
}

.clear {
    outline: 1px solid red;
    width: 50vw;
    background-color: #ff000033;
}

.mainUsers,
.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainUsers {
    padding: 0 7px;
    border-radius: 2px;
}

.users,
.user {
    width: 40vw;
}

.users {
    width: 40vw;
}

.user {
    background-color: #002fff33;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 3px 3px 6px 1px;
}

.user-outer {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.delete,
.change {
    width: 30px;
    height: 30px;
    background-color: #002fff33;
    cursor: pointer;
    border: none;
}

.delete img,
.change img  {
    width: 100%;
}

.delete:hover {
    transform: rotate(45deg);
}

.change:hover {
    transform: rotate(90deg);
}

.delete:active,
.change:active {
    transform: scale(0.95);
}
